<div>
	<!--左边 -->
	<div class="block_channel channel_normal_left">

		@Html.Partial("_more")

	</div>

	<!--右边 -->
	<div class="block_channel channel_normal_right">

		@Html.Partial("_viewcount")

		@Html.Partial("_newcomment")

	</div>
</div>
